/* header */

#header {
  position: absolute;
  display: flex;
  /* justify-content: space-between; */
  padding: 46px 0px 0px 0px;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  z-index: 80;
}

#header-menu-wrap {
  /* position: sticky; */
  width: 100%;
  height: 100px;
  /* z-index: 100; */
}

#header-logo {
  position: absolute;
  left: 70px;
  background: url(../../images/logo.svg) no-repeat 50% 0;
  background-size: 190px 36px;
  height: 80px;
  width: 190px;
  /* flex: 1; */
}

#header-logo-active {
  position: absolute;
  left: 70px;
  background: url(../../images/logo_w.svg) no-repeat 50% 0;
  background-size: 190px 36px;
  height: 80px;
  width: 190px;
  z-index: 90;
  /* flex: 1; */
}

button {
  border: 0;
}

/* header-menubtn */

#header-menuBtn,
#header-menuBtn-active {
  display: block;
  position: absolute;
  left: 300px;
  width: 34px;
  height: 24px;
  background: transparent;
  font-size: 0px;
  transition: all 0.3s ease 0s;
  z-index: 90;
}

#header-menuBtn > i {
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #151515;
}

#header-menuBtn > i:nth-of-type(1) {
  top: 0px;
  transition: all 0.3s ease;
  transition-property: top, transform;
  transition-delay: 0.3s, 0s;
}

#header-menuBtn > i:nth-of-type(2) {
  top: 50%;
  margin-top: -1px;
  transition: background 0.3s ease 0s;
}

#header-menuBtn > i:nth-of-type(3) {
  top: 22px;
  transition: all 0.3s ease;
  transition-property: top, transform;
  transition-delay: 0.3s, 0s;
}

/* header-menu-active */
#header-menuBtn-active > i {
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
}

#header-menuBtn-active > i:nth-of-type(1) {
  top: 10px;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
  transition-property: transform, top;
  transition-delay: 0.3s, 0s;
}

#header-menuBtn-active > i:nth-of-type(2) {
  display: none;
}

#header-menuBtn-active > i:nth-of-type(3) {
  top: 10px;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  transition-property: transform, top;
  transition-delay: 0.3s, 0s;
}

/* header-menus */
#header-menus {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50px;
  left: 23%;
  width: 39%;
  transition: 300ms;
  /* color: #333; */
  /* font-weight: 400; */
}

.header-menu {
  position: relative;
  transition: all 300ms ease;
  /* width: 300px; */
  font-size: 15px;
  /* color: rgb(31, 30, 30); */
  padding: 0 20px 30px;
  box-sizing: border-box;
  display: flex;
}

.menu-arrow {
  visibility: hidden;
  position: absolute;
  top: 7px;
  right: 10px;
  opacity: 0;
  width: 8px;
  height: 6px;
  background: url("../../images/img_gnb_arrow.png") no-repeat 50% 0;
  transition: all 0.3s ease;
}

.header-sub-menu {
  visibility: hidden;
  opacity: 0;
  width: 170px;
  /* height: 400px; */
  padding: 0px 0px 0px 15px;
  box-sizing: border-box;
  background: #383a4a;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 40px;
  right: 0%;
  transform: transLateX(50%);
  transition: all 300ms ease;
}

.sub-menu-sub-menu {
  visibility: hidden;
  opacity: 0;
  display: flex;
  /* height: 200px; */
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 10px;
  left: 200px;
  transition: all 300ms ease;
  min-width: 230px;
  box-sizing: border-box;
  padding: 15px 30px;
  background: #fff;
  border: 1px solid #41478f;
  color: black;
  transition: all 300ms ease;
}

.sub-menu-sub-menu > li {
  padding: 15px 10px;
  box-sizing: border-box;
}

.sub-menu {
  position: relative;
  padding: 15px 0px;
}

.sub-menu-title {
  /* width: 120px; */
  word-break: keep-all;
}

.sub-menu-arrowDown {
  content: "";
  position: absolute;
  top: 23px;
  right: 20px;
  border-left: 4px solid #9c9da5;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 300ms ease;
}

.sub-menu-sub-menu > li {
  word-break: keep-all;
}

/* datas:hover */
.header-menu:hover {
  color: #41478f;
  transition: all 300ms ease;
  cursor: pointer;
}

.header-menu:hover .menu-arrow {
  visibility: visible;
  opacity: 1;
  transition: all 300ms ease;
}

.header-menu:hover .header-sub-menu {
  visibility: visible;
  opacity: 1;
  position: absolute;
  right: 50%;
  transform: transLateX(50%);
  transition: all 300ms ease;
}

/* sub-menu-dokdoPictures:hover */
.sub-menu:hover {
  cursor: pointer;
  color: #fee728;
  text-decoration: underline;
  transition: all 300ms ease;
}

.sub-menu:hover .sub-menu-arrowDown {
  border-left: 4px solid #fee728;
  transition: all 300ms ease;
}

.sub-menu:hover .sub-menu-sub-menu {
  visibility: visible;
  opacity: 1;
  left: 155px;
  transition: all 300ms ease;
}

.sub-menu-sub-menu > li:hover {
  color: #41478f;
  text-decoration: underline;
  transition: all 300ms ease;
}

/* header-menu-active */

/* header-utils */
#header-utils {
  float: right;
  display: flex;
  /* justify-content: space-between; */
  position: absolute;
  right: 0px;
  /* width: 350px; */
  color: white;
  z-index: 90;
}

#header-utils > div {
  margin-right: 30px;
}

#header-login,
#header-login-active {
  display: flex;
  cursor: pointer;
}

#header-login > div {
  font-size: 14px;
}

#login-img,
#login-img-active {
  position: relative;
  top: -2px;
  left: -10px;
  /* margin-right: 5px; */
  width: 26px;
  height: 26px;
  background-image: url(../../images/sp_com.png);
  background-color: color;
  background-repeat: no-repeat;
  background-position-y: -41px;
  background-position-x: -196px;
  /* transition: background-position-y 0s ease 0.5s; */
}

#header-join,
#header-join-active {
  display: flex;
  cursor: pointer;
}

#header-join > div {
  font-size: 14px;
}

#join-img,
#join-img-active {
  position: relative;
  top: -2px;
  left: -10px;
  width: 26px;
  height: 26px;
  background-image: url(../../images/sp_com.png);
  background-repeat: no-repeat;
  background-position-y: -41px;
  background-position-x: -222px;
}

#header-language-now,
#header-language-now-active {
  width: 120px;
  display: flex;
  position: relative;
  border-bottom: 1px solid rgba(255, 255, 255, 0.678);
  padding: 0px 5px 5px 5px;
  box-sizing: border-box;
}

#header-languages,
#header-languages-active {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

#header-language-option,
#header-language-option-active {
  display: flex;
  width: 120px;
  /* height: 0px; */
  font-size: 14px;

  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  box-sizing: border-box;
  background-color: white;
  color: #444;

  /* cursor: pointer; */
}

#header-language-arrow,
#header-language-arrow-active {
  position: absolute;
  top: 8px;
  right: 7px;
  border-top: 4px solid #fff;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

.languages {
  color: #444;
  transition: all 300ms;
}

.languages:hover {
  background: #444;
  color: #fff;
  transition: all 300ms;
}

/* header */

#header-logo-active {
  position: absolute;
  left: 70px;
  background: url(../../images/logo_w.svg) no-repeat 50% 0;
  background-size: 190px 36px;
  height: 36px;
  width: 190px;
  z-index: 90;
  /* flex: 1; */
}

/* header-menu-active */
#header-menuBtn-active > i {
  display: block;
  position: absolute;
  left: 0px;
  width: 100%;
  height: 2px;
  background: #fff;
}

#header-menuBtn-active > i:nth-of-type(1) {
  top: 10px;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
  transition-property: transform, top;
  transition-delay: 0.3s, 0s;
}

#header-menuBtn-active > i:nth-of-type(2) {
  display: none;
}

#header-menuBtn-active > i:nth-of-type(3) {
  top: 10px;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  transition-property: transform, top;
  transition-delay: 0.3s, 0s;
}

/* header-menu-active */

#header-menus-active-wrap {
  overflow: hidden;
  opacity: 0;
  position: fixed;
  left: 0;
  top: 0px !important;
  z-index: 89;
  width: 100%;
  height: 1000px;
  box-sizing: border-box;
  padding-bottom: 50px;
  background: #41478f;
  background-image: linear-gradient(-40deg, #41478f 35%, #c1445a);
  background-image: -ms-linear-gradient(-40deg, #41478f 35%, #c1445a);
  background-image: -webkit-linear-gradient(-40deg, #41478f 35%, #c1445a);
  background-image: -moz-linear-gradient(-40deg, #41478f 35%, #c1445a);
  background-image: -o-linear-gradient(-40deg, #41478f 35%, #c1445a);
  transition: all 500ms cubic-bezier(0.16, 0.35, 0.46, 0.99);
}

#header-menus-active {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% - 70px);
  /* height: calc(100% - 190px); */
  height: 70%;
  overflow-y: scroll;
  box-sizing: border-box;

  /* padding-top: 80px; */
  margin: 150px auto 0;
}

#header-menus-active::-webkit-scrollbar {
  width: 5px;
}

#header-menus-active::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
}

#header-menus-active::-webkit-scrollbar-track {
  background-color: #707070;
}

.header-menu-active {
  float: left;
  /* width: calc(100% / 6); */
  width: 220px;
  box-sizing: border-box;
  padding: 0 30px;
}

.header-menu-active > div {
  color: white;
  font-size: 20px;
  font-weight: 400;
}

.header-sub-menu-active {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.sub-menu-active {
  margin-bottom: 20px;
  cursor: pointer;
}

.sub-menu-title-active {
  color: white;
  display: flex;
}

.sub-menu-sub-menu-active {
  display: block;
  color: white;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.1);
  transition: all 300ms;
}

.sub-menu-sub-menu-active > li {
  padding: 10px 10px;
}

.sub-menu-title-active {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.sub-menu-addBtn-active {
  top: 5px;
  right: 0px;
  width: 10px;
  height: 10px;
  position: relative;
}

.sub-menu-vetical-active {
  position: absolute;
  left: 50%;
  background-color: white;
  width: 1px;
  height: 100%;
}

.sub-menu-horizontal-active {
  position: absolute;
  top: 50%;
  background-color: white;
  height: 1px;
  width: 100%;
}

@media (max-width: 1580px) {
  #header-menus {
    display: none;
  }
  #header-menuBtn,
  #header-menuBtn-active {
    display: block;
  }
}

@media (max-width: 1400px) {
  .header-text {
    color: black;
  }

  #header-language-now {
    border-bottom: 1px solid rgba(0, 0, 0, 0.678);
  }
  #login-img {
    background-position-y: -67px;
    background-position-x: -196px;
  }

  #join-img {
    background-position-y: -67px;
    background-position-x: -222px;
  }

  #header-language-arrow {
    border-top: 4px solid #000;
  }
  #header-language-option {
    border-left: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-top: 0px;
    border-style: solid;
    border-color: #000;
  }
}

@media (max-width: 1400px) {
  #header-menuBtn,
  #header-menuBtn-active {
    /* top: 50px; */
    left: 19px;
  }
}

@media (max-width: 1100px) {
  #header-login,
  #header-login-active,
  #header-join,
  #header-join-active {
    display: none;
  }
}

@media (max-width: 600px) {
  #header {
    padding: 20px 0 0 0;
  }
}

@media (max-width: 450px) {
  #header {
    padding: 20px 0 0 0;
  }

  #header-languages,
  #header-languages-active {
    display: none;
  }
}
