#sideBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 920px;
}

#sideBar-sns {
  position: relative;
  top: 125px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facebook-account {
  width: 23px;
  height: 23px;
  background-image: url(../../images/sp_com.png);
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: 0px;
  margin-bottom: 30px;
}

.instagram-account {
  width: 23px;
  height: 23px;
  background-image: url(../../images/sp_com.png);
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: -23px;
  margin-bottom: 30px;
}

.naverBlog-account {
  width: 23px;
  height: 23px;
  background-image: url(../../images/sp_com.png);
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: -46px;
  margin-bottom: 30px;
}

.youtube-account {
  width: 23px;
  height: 23px;
  background-image: url(../../images/sp_com.png);
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: -69px;
  margin-bottom: 30px;
}

#sideBar-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 260px;
}

.sideBar-scroll-text {
  /* writing-mode: vertical-lr; */
  position: relative;
  left: -2px;
  transform: rotate(-90deg);
}

#sideBar-scroll-state {
  position: relative;
  top: 30px;
  width: 1px;
  height: 140px;
  background: rgba(210, 212, 201, 0.7);
}
