#app-wrap {
  width: 100%;
  /* height: 920px; */
  height: 100%;
}

/* Main */

#main-wrap {
  /* display: flex; */
  position: relative;
  left: 0px;
  top: 0px;
  padding: 120px 0 0 70px;
  box-sizing: border-box;
  width: 100%;
  height: 937px;
}

#main-video {
  /* position: relative; */
  width: 70%;
  height: calc(100% - 70px);
}

#main-video-src {
  width: 100%;
  height: 100%;
}

#video-OnOffBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: #000;
  top: 800px;
  left: 150px;
  width: 108px;
  height: 100px;
  background-color: #fff;
  z-index: 10;
  box-shadow: 1px 10px 5px rgb(196, 195, 195);
}

#video-onOffBtnImg {
  width: 32px;
  height: 30px;
  background-image: url(./images/sp_com.png);
  background-repeat: no-repeat;
  background-position-y: -41px;
  background-position-x: -46px;
}

#video-onOffBtnText {
  position: relative;
  top: 10px;
}

#main-picture-dokdo {
  position: absolute;
  top: 573px;
  right: 0px;
  width: 1452px;
  height: 364px;
  background: url(./images/img_dokdo.png);
}

#main-picture-cloud {
  position: absolute;
  top: 50px;
  right: 80px;
  width: 557px;
  height: 231px;
  background: url(./images/img_cloud.png);
  /* background-color: #41478f; */
}

#main-link {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35%;
  height: 100%;
  background-image: -webkit-linear-gradient(-40deg, #41478f 35%, #c1445a);
}

#main-link-openCloseBtn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  position: relative;
  top: 40%;
  left: -50px;
  width: 100px;
  height: 100px;
  background: #27272f;
  box-shadow: 0px 15px 15px rgb(0 0 0 / 15%);
}

#openCloseTop {
  position: relative;
  bottom: 7px;
  /* right: 2px; */
  transform: rotate(-35deg);
  width: 14px;
  height: 1px;
  background-color: #fff;
}

#openCloseBottom {
  transform: rotate(35deg);
  width: 14px;
  height: 1px;
  background-color: #fff;
}

#openCloseText {
  position: relative;
  top: 15px;
}

/* sideBar */

#sideBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 920px;
}

#sideBar-sns {
  position: relative;
  top: 125px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.facebook-account {
  width: 23px;
  height: 23px;
  background-image: url(./images/sp_com.png);
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: 0px;
  margin-bottom: 30px;
}

.instagram-account {
  width: 23px;
  height: 23px;
  background-image: url(./images/sp_com.png);
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: -23px;
  margin-bottom: 30px;
}

.naverBlog-account {
  width: 23px;
  height: 23px;
  background-image: url(./images/sp_com.png);
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: -46px;
  margin-bottom: 30px;
}

.youtube-account {
  width: 23px;
  height: 23px;
  background-image: url(./images/sp_com.png);
  background-repeat: no-repeat;
  background-position-y: 0px;
  background-position-x: -69px;
  margin-bottom: 30px;
}

#sideBar-scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 260px;
}

.sideBar-scroll-text {
  /* writing-mode: vertical-lr; */
  position: relative;
  left: -2px;
  transform: rotate(-90deg);
}

#sideBar-scroll-state {
  position: relative;
  top: 30px;
  width: 1px;
  height: 140px;
  background: rgba(210, 212, 201, 0.7);
}

/* header */

#header {
  position: absolute;
  display: flex;
  padding: 46px 0px 0px 0px;
  width: 100%;
  height: 120px;
  box-sizing: border-box;
  z-index: 80;
}

#header-logo {
  position: absolute;
  left: 70px;
  background: url(./images/logo.svg) no-repeat 50% 0;
  background-size: 190px 36px;
  height: 80px;
  width: 190px;
  /* flex: 1; */
}

/* header-menus */
#header-menus {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 25%;
  width: 35%;
}

.header-menu {
  display: flex;
}

/* header-utils */
#header-utils {
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 3%;
  width: 350px;
  color: white;
}

#header-login {
  display: flex;
}

#login-img {
  position: relative;
  top: -2px;
  left: -10px;
  /* margin-right: 5px; */
  width: 26px;
  height: 26px;
  background-image: url(./images/sp_com.png);
  background-color: color;
  background-repeat: no-repeat;
  background-position-y: -67px;
  background-position-x: -196px;
  /* transition: background-position-y 0s ease 0.5s; */
}

#header-join {
  display: flex;
}

#join-img {
  position: relative;
  top: -2px;
  left: -10px;
  width: 26px;
  height: 26px;
  background-image: url(./images/sp_com.png);
  background-repeat: no-repeat;
  background-position-y: -67px;
  background-position-x: -222px;
}

#header-language-now {
  width: 120px;
  display: flex;
  border-bottom: 1px solid black;
  padding: 0px 5px 5px 5px;
  box-sizing: border-box;
}

#header-languages {
  display: flex;
  flex-direction: column;
}

#header-lagnuage-option {
  display: flex;
  width: 100px;
  height: 150px;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
  box-sizing: border-box;
}

/* Contatiner */

#container-wrap {
  width: 100%;
  /* height: 1441px; */
  /* background-color: antiquewhite; */
}

/* container-notice */
#container-notice {
  display: flex;
  width: 100%;
  height: 390px;
  /* background-color: aquamarine; */
  padding: 0px 81px 0px 81px;
  box-sizing: border-box;
}

#notice-head {
  width: 30%;
  background: #f4f4f9;
}

#notice-head-introduce {
  position: relative;
  top: 80px;
  left: 35%;
}

#notice-head-English-bar {
  width: 50px;
  height: 1px;
  background-color: black;
}

#notice-head-English-Text {
  font-size: 14px;
  letter-spacing: 2px;
}

#notice-head-Title {
  margin-top: 20px;
  font-size: 28px;
}

#notice-haed-Subscrition {
  width: 180px;
  height: 41px;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 300;
  color: #8b8b8b;
}

#notice-head-contents-title {
  position: relative;
  top: -80px;
  left: 75%;

  display: flex;
  flex-direction: column;
}

.head-content-title {
  line-height: 50px;
  text-align: center;
  width: 120px;
  height: 50px;
  margin-bottom: 20px;
  /* background: #41478f; */
}

.head-content-title-active {
  position: relative;
  left: 40px;
  background: #41478f;
  color: white;
}

#notice-contents {
  width: 70%;
  background: #f9fafa;
}

/* container-evetSchedule */

#container-eventSchedule {
  width: 100%;
  height: 417px;
  background-color: chartreuse;
}

#container-magazine {
  width: 100%;
  height: 525px;
  background-color: chocolate;
}

#contaienr-logo {
  width: 100%;
  height: 69px;
  background-color: cornflowerblue;
  margin: 40px 0;
}

#footer-wrap {
  width: 100%;
  height: 202px;
  background-color: darkblue;
}
